body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    background-color:beige;
    text-align: center;
}
p{
    font-weight: bolder;
    font-size: larger;
    color: #9e4040d8;
    position: relative;
    top:50px;
}
#score {
    font-weight: bolder;
    color: #9e4040d8;
    font-size: larger;
    position: relative;
    top:50px;
}
